node_modules/*
todo.txt
npm-debug.log
benchmark/async-compare/node_modules/*
benchmark/promises-benchmark/node_modules/*
benchmark/promises-benchmark/fixtures/*
benchmark/perf-promises/node_modules/*
browser/main.js
async
sync
mixed
bench.json
js/bluebird_sync.min.js
js/bluebird.min.js
reader.js
read.txt
throwaway.js
throwaway.html
bluebird.sublime-workspace
bluebird.sublime-project
zalgo.js
changelog.js
sauce_connect.log
bump.js
