node_modules/*
todo.txt
npm-debug.log
test/*
benchmark/*
src/*
async
sync
mixed
bench.json
js/bluebird.min.js
js/bluebird_sync.js
js/bluebird_sync.min.js
js/bluebird_debug.js
reader.js
read.txt
bench
.editorconfig
.jshintrc
ast_passes.js
mocharun.js