language: node_js
matrix:
  include:
    - node_js: "0.12"
      env: "NODE_FLAGS='' SCRIPT_FLAGS=''"
    - node_js: "iojs"
      env: "NODE_FLAGS='' SCRIPT_FLAGS='--saucelabs'"
    - node_js: "iojs"
      env: "NODE_FLAGS='' SCRIPT_FLAGS=''"
  fast_finish: true

before_script:
- git submodule update --init --recursive
script: "node $NODE_FLAGS tools/test.js $SCRIPT_FLAGS"
