language: node_js
matrix:
  include:
    - node_js: "0.10"
      env: "NODE_FLAGS='' SCRIPT_FLAGS=''"
    - node_js: "0.11.15"
      env: "NODE_FLAGS='--harmony' SCRIPT_FLAGS=''"
    - node_js: "0.10"
      env: "NODE_FLAGS='' SCRIPT_FLAGS='--saucelabs'"
  fast_finish: true

before_script:
- git submodule update --init --recursive
script: "node $NODE_FLAGS tools/test.js $SCRIPT_FLAGS"
